
<div class="container">
<div class="container mt-2">
    <div class="row">
        <div class="col-7 mb-3">
            <label for="email">Email address:</label>
            <input class="form-control" type="String" [(ngModel)]="email" required>
            <label for="password">Password:</label>
            <input class="form-control" type="String" [(ngModel)]="password" required>
        </div>
    </div>
</div>

<div *ngIf = "bol" class= "container mt-1" style="color: red;">Please enter valid credentials</div>

<div  class= "container mt-1">
    <button class="btn btn-secondary "  (click)="loginUser()">LOGIN</button>

    <button class="btn btn-success "  (click)="regUser()">SIGN UP</button>
</div>  
</div>


