.container
{
    max-width: 1000px;
    border: 1px solid white;
    margin-left:20%;
 
}
.container .mt-1
{
   padding: 20px;
}

.btn .btn-success
{
    margin-left: 20px;
    display: inline-block;
    flex: 1 1 auto;
}